.sidebar {
  margin-left: -8px;
  margin-top: -8px;
  margin-bottom: -8px;
  width: 272px;
  background-color: #1D1B27;
  color: white;
  /* height: 100vw; */
  /* padding: 16px; */
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 12px;
  padding-bottom: 24px;
  padding-left: 12px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 28px;
  position: relative;
}

.logo img {
  width: 29.33px;
  height: 29.33px;
}

.logo h2 {
  font-size: 18px;
  font-weight: 600;
}

.dropdown-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  font-size: 14px;
  color: #aaa;
}

.menu-section {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #E4E3EA;
  transition: background 0.2s ease;
  text-decoration: none;
}

.sidebar-item.active {
border: 1px;
  border-radius: 6px;
  background-color: #593BF233;
  color: white; 
}

.sidebar-item.active img.icon {
  filter: brightness(0) invert(1); 
}

.icon {
  width: 20px;
  height: 20px;
}

.arrow {
  margin-left: auto;
  width: 16px;
  height: 16px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.section-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  color: #aaa;
  text-transform: uppercase;
  margin: 20px 0 8px;
}

.section-label img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.bottom {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.07);
}

.bottom .sidebar-item {
  font-weight: 500;
}
.app-container-01 {
  display: flex;
  /* height: 100vh; */
  width: 100vw; 
}

.main-content-01 {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.main-content-01 > .topbar {
  flex-shrink: 0;

  border-bottom: 1px solid #d1d5db;
}

.page-content-01{
  /* background-color: red; */
  /* flex: 1; */
  overflow-y: auto;
  /* padding: 16px; */
  color: white;
}
