
* {
  box-sizing: border-box;
}

.page-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 40px 30px;
}

.signin-box {
  width: 460px;
  background: #fff;
  border-radius: 12px;
  padding: 40px 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
  position: relative;
  z-index: 10;
  top: 90px;
  border: 1px solid #E6E8EA;
  box-shadow: 0px 8px 16px -4px #14151A0F;
}

.signin-box img.logo {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.signin-box h2 {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 32px;
}

.signin-box p {
  color: #625F6E;
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 500;
}

.social-login {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.social-login button {
  flex: 1;
  margin: 0 5px;
  padding: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: white;
  cursor: pointer;
}

.social-login img {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #aaa;
  font-size: 12px;
  margin-bottom: 20px;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ddd;
}

.divider:not(:empty)::before {
  margin-right: 10px;
}

.divider:not(:empty)::after {
  margin-left: 10px;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-size: 12px;
  color: #555;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%; 
  padding: 10px 34px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 400;
}

.password-wrapper {
  position: relative;
}

.password-wrapper img.eye-icon {
  position: absolute;
  right: 10px;
  top: 66%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 20px;
}

.options label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #625F6E;
  font-size: 14px;
  font-weight: 500;
}

.options input[type="checkbox"] {
  margin-right: 6px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #F7F6F9;
  box-shadow: 0px 1px 2px 0px rgba(6, 27, 22, 0.06);
}

.options a {
  font-size: 14px;
  font-weight: 500;
  color: #625F6E;
  text-decoration: none;
}

.options a:hover {
  text-decoration: underline;
}

.signin-btn {
  width: 100%; 
  height: 48px;
  border: 1px;
  background-color: #593BF2;
  color: white;
  border-radius: 8px;
  padding: 12px 0;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.signup-text {
  margin-top: 15px;
  font-size: 16px;
  color: #020204;
}

.signup-text a {
  font-size: 16px;
  font-weight: 500;
  color: #593BF2;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

.right-side {
  flex: 1;
  position: relative;
  overflow: hidden;
  min-width: 720px;
  min-height: 896px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  height: 896px;
  background-image: url('assets/bg.png');
  background-size: cover;
  background-position: center;
  border: 10px solid white;
  border-radius: 10px;
  z-index: 1;
}

.overlay-image {
  position: relative;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  z-index: 2;
  border: 1px solid #FFFFFF4D;
  padding: 8px;
  border-radius: 12px;
}

.top-image {
  width: 355px;
  height: 270px;
  margin-top: 100px;
  margin-left: 80px;
}

.bottom-image {
  width: 355px;
  height: 320px;
  top: -122px;
  margin-left: 265px;
}
.bottom-heading-wrapper {
  position: absolute;
  bottom: 73px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  z-index: 3;
  text-align: center;
  max-width: 90%;
}

.bottom-heading {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}

.bottom-heading-01 {
  font-size: 16px;
  font-weight: 400;
  color: #EDEDED;
}
.dots-wrapper {
  display: inline-flex;      
  justify-content: center;    
  width: 100%;                
  margin-top: 8px;            
  user-select: none;  
}

.dot-image {
  width: 52px;
  height: 6px;
  display: inline-block;
}
.input-icon-00 {
  position: absolute;
  left: 36px;
  top: 53%;
  transform: translateY(50%);
  width: 20px;
  height: 20px;
  pointer-events: none; 
}
.input-icons-00 {
  position: absolute;
  left: 4px;
  top: 64%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none; 
}