/* GLOBAL FIX */
* {
  box-sizing: border-box;
}

.page-container-05 {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-side-05 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  padding: 40px 30px;
}

.signin-box-05 {
  width: 460px;
  background: #fff;
  border-radius: 12px;
  padding: 40px 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
  position: relative;
  z-index: 10;
  top: 90px;
  border: 1px solid #E6E8EA;
  box-shadow: 0px 8px 16px -4px #14151A0F;
}

.signin-box-05 img.logo-05 {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.signin-box-05 h2 {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 32px;
}

.signin-box-05 p {
  width: 260px;
  margin: 0 auto 25px auto;
  color: #625F6E;
  font-size: 16px;
  font-weight: 500;
}

.input-group-05 {
  text-align: left;
  margin-bottom: 20px;
  position: relative;
}

.input-group-05 label {
  display: block;
  font-size: 12px;
  color: #555;
  margin-bottom: 5px;
}

.input-group-05 input {
  width: 100%;
  padding: 10px 40px 10px 12px; 
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  font-weight: 400;
}

.password-wrapper-05 {
  position: relative;
}

.eye-icon-05 {
  position: absolute;
  right: 12px;
  top: 66%;
  transform: translateY(-50%);
  cursor: pointer;
  width: 20px;
  height: 20px;
  user-select: none;
}

.signin-btn-05 {
  width: 100%;
  height: 48px;
  border: none;
  background-color: #593BF2;
  color: white;
  border-radius: 8px;
  padding: 12px 0;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}

.help-text-05 {
  margin-top: 20px !important;
  font-size: 16px !important;
  color: #020204;
  font-weight: 500;
}

.help-text-05 a {
  font-weight: 600;
  color: #593BF2;
  text-decoration: none;
}

.help-text-05 a:hover {
  text-decoration: underline;
}

.right-side-05 {
  flex: 1;
  position: relative;
  overflow: hidden;
  min-width: 720px;
  min-height: 896px;
}

.background-image-05 {
  position: absolute;
  top: 0;
  left: 0;
  width: 720px;
  height: 896px;
  background-image: url('src/assets/bg.png');
  background-size: cover;
  background-position: center;
  border: 10px solid white;
  border-radius: 10px;
  z-index: 1;
}

.overlay-image-05 {
  position: relative;
  width: 250px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  z-index: 2;
  border: 1px solid #FFFFFF4D;
  padding: 8px;
  border-radius: 12px;
}

.top-image-05 {
  width: 355px;
  height: 270px;
  margin-top: 100px;
  margin-left: 80px;
}

.bottom-image-05 {
  width: 355px;
  height: 320px;
  top: -122px;
  margin-left: 265px;
}

.bottom-heading-wrapper-05 {
  position: absolute;
  bottom: 73px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  z-index: 3;
  text-align: center;
  max-width: 90%;
}

.bottom-heading-05 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}

.bottom-heading-01-05 {
  font-size: 16px;
  font-weight: 400;
  color: #EDEDED;
}

.dots-wrapper-05 {
  display: inline-flex;      
  justify-content: center;    
  width: 100%;                
  margin-top: 8px;            
  user-select: none;  
}

.dot-image-05 {
  width: 52px;
  height: 6px;
  display: inline-block;
}
