.feed-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feed-card {
  width: 1104px;
  border: 1px solid var(--Stroke-Primary, #E6E8EA);
  border-radius: 8px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: white;
}

.feed-card-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.feed-card-project-path {
  font-size: 16px;
  font-weight: 500;
  color: #625F6E;
  margin-left: 12px; 
}

.feed-card-project-title {
  font-size: 14px;
  font-weight: 500;
  color: #625F6E;
  display: flex;
  align-items: center;
  gap: 6px;
margin-left: 12px;
}

.feed-card-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.feed-card-item {
  display: flex;
  justify-content: space-between;
}

.feed-card-info {
  font-size: 16px;
  font-weight: 400;
  color: #625F6E;
  margin-top: 20px;
}

.feed-card-time {
  font-size: 12px;
  color: #999;
  white-space: nowrap;
}

.team-overview {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.team-overview-left {
  width: 729px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.team-overview-right {
  width: 355px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-card {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #E6E8EA;
}

.team-intro-card {
  width: 1064px;
  height: 83px;
}

.info-title {
  font-size: 16px;
  font-weight: 500;
  color: #625F6E;
  margin: 0 0 6px;
}

.info-subtext {
  font-size: 14px;
  font-weight: 500;
  color: #625F6E;
  display: flex;
  gap: 12px;
}


.card-1 {
  height: 167px; 
}


.feed-card-info img {
  vertical-align: middle;
  height: 24px; 
  width: 24px;
  margin-left: 12px;
}
